<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Me</h2>
    <p>I am a final year student at the University of Belgrade, Faculty of Mathematics.</p>
    <p>Currently looking for a job in the IT industry as a Developer or Engineer.</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>